<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Project viewer</title>

    <h2>User projects</h2>

    <table>
        <tr>
            <td>Name:</td>
            <td>Status:</td>
            <td>Source language:</td>
            <td>Target languages:</td>
        </tr>
        <tr th:each="project : ${projects}">
            <td th:text="${project.name}"></td>
            <td th:text="${project.status}"></td>
            <td th:text="${project.sourceLang}"></td>
            <td th:text="${project.targetLang}"></td>
        </tr>
    </table>

    <br>

    <form th:action="@{/home}" method="get" enctype="multipart/form-data">
        <th colspan="2"> <input type="submit" value="Back to login page" name="button"/></th>
    </form>

</head>
<body>

</body>
</html>