<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Project viewer</title>

    <h2>Enter user credentials</h2>

    <form th:action="@{/authuser}" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <th>Name:</th>
                <th><input name="userName" th:value="${userName}"/></th>
            </tr>
            <tr>
                <th>Password:</th>
                <th><input name="password" th:value="${password}"/></th>
            </tr>
            <tr>
                <th colspan="2"> <input type="submit" value="Login and get projects" name="button"/></th>
            </tr>
        </table>
    </form>

</head>
<body>

</body>
</html>